.container{
    margin-bottom: 80px;
}
/* ********** Menu/Nav start********* */
.menu-item{
    text-transform: capitalize;
}
.menu-item a{
    margin-left: 20px;
}

/* *************Banner Start******* */
.orange-bg{
    background-color: #fceae8;
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    margin-top: 20px;
}
.banner-details p{
    font-size: 16px;
}
/* ***********Banner End************ */

/* **********Categories start********** 
*/

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(#ff9c35,#ffd019);
}
.cat2{
    background-image: linear-gradient(#ff1671,#ff5398);
}
.cat3{
    background-image: linear-gradient(#3f07f8,#4289ff);
}

.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
/* **********Categories End********** 
*/
/* *************Shoes start********* */
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
#shoes h1{
    text-transform: capitalize;
}
/* *************Shoes End********* */

/* ************Backpack start*********** */
#backpack h1{
    text-transform: capitalize;
}
.card-footer{
    background-color: #fff;
    border-top: none;
}
/* ************Backpack end*********** */

/* ************subscribe start*********** */
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}

/* ************Subscribe end*********** */

/* ************Footer part start*********** */
footer{
    text-align: center;
}
/* ************Footer part end*********** */